Repository googleapis/python-securitycenter, pull requests merged in 2020-12, with the labels that each got.

#85 docs: add securitycenter prefix to samples, wrap published samples and repl…
  samples/snippets/snippets_findings.py
  samples/snippets/snippets_list_assets.py
  samples/snippets/snippets_notification_configs.py
  samples/snippets/snippets_notification_receiver.py
  samples/snippets/snippets_orgs.py
  samples/snippets/snippets_security_marks.py
Labels: api: securitycenter, automerge, cla: yes, samples

#87 feat(v1): add field severity to findings; add common resource helper; expose client tranport
  docs/securitycenter_v1/types.rst
  docs/securitycenter_v1beta1/types.rst
  docs/securitycenter_v1p1beta1/types.rst
  google/cloud/securitycenter_v1/proto/finding.proto
  google/cloud/securitycenter_v1/proto/notification_config.proto
  google/cloud/securitycenter_v1/proto/securitycenter_service.proto
  google/cloud/securitycenter_v1/services/security_center/async_client.py
  google/cloud/securitycenter_v1/services/security_center/client.py
  google/cloud/securitycenter_v1/services/security_center/transports/__init__.py
  google/cloud/securitycenter_v1/services/security_center/transports/base.py
  google/cloud/securitycenter_v1/services/security_center/transports/grpc.py
  google/cloud/securitycenter_v1/services/security_center/transports/grpc_asyncio.py
  google/cloud/securitycenter_v1/types/__init__.py
  google/cloud/securitycenter_v1/types/finding.py
  google/cloud/securitycenter_v1/types/notification_config.py
  google/cloud/securitycenter_v1/types/securitycenter_service.py
  google/cloud/securitycenter_v1beta1/services/security_center/async_client.py
  google/cloud/securitycenter_v1beta1/services/security_center/client.py
  google/cloud/securitycenter_v1beta1/services/security_center/transports/__init__.py
  google/cloud/securitycenter_v1beta1/services/security_center/transports/grpc.py
  google/cloud/securitycenter_v1beta1/services/security_center/transports/grpc_asyncio.py
  google/cloud/securitycenter_v1beta1/types/__init__.py
  google/cloud/securitycenter_v1p1beta1/services/security_center/async_client.py
  google/cloud/securitycenter_v1p1beta1/services/security_center/client.py
  google/cloud/securitycenter_v1p1beta1/services/security_center/transports/__init__.py
  google/cloud/securitycenter_v1p1beta1/services/security_center/transports/base.py
  google/cloud/securitycenter_v1p1beta1/services/security_center/transports/grpc.py
  google/cloud/securitycenter_v1p1beta1/services/security_center/transports/grpc_asyncio.py
  google/cloud/securitycenter_v1p1beta1/types/__init__.py
  noxfile.py
  scripts/fixup_securitycenter_v1_keywords.py
  scripts/fixup_securitycenter_v1beta1_keywords.py
  scripts/fixup_securitycenter_v1p1beta1_keywords.py
  synth.metadata
  tests/unit/gapic/securitycenter_v1/test_security_center.py
  tests/unit/gapic/securitycenter_v1beta1/test_security_center.py
  tests/unit/gapic/securitycenter_v1p1beta1/test_security_center.py
Labels: api: securitycenter, cla: yes, context: partial

#88 chore: update templates
  .kokoro/docs/common.cfg
  .kokoro/test-samples.sh
  .pre-commit-config.yaml
  CODE_OF_CONDUCT.md
  CONTRIBUTING.rst
  docs/conf.py
  noxfile.py
  samples/snippets/noxfile.py
  synth.metadata
Labels: api: securitycenter, automerge, cla: yes, context: partial

#92 chore: exclude `.nox` from linting; update python versions in CONTRIBUTING
  .flake8
  .pre-commit-config.yaml
  CONTRIBUTING.rst
  synth.metadata
Labels: api: securitycenter, cla: yes, context: full

#93 chore: add tar
  securitycenter-v1beta1-py.tar.gz
  synth.metadata
Labels: api: securitycenter, cla: yes, context: none
